body{
font-size: 14px;
color: #2f3542;
background-color: #fff;
letter-spacing:1px;
}

.overlay{
  width:100%;
  height:100%;
  position:absolute;
  z-index: 3;
  background-color: rgba(0,0,0, 0.4);
}
.slides-navigation{
  z-index:6;
}
.slides-navigation .prev,
.slides-navigation .down,
.slides-navigation .next{
    width:47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev{
  left: 20px;
  background-image: url(../images/icons/prev.png);
}
.slides-navigation a.next{
  right: 20px;
  background-image: url(../images/icons/next.png);
}
.slides-navigation a.down{
  position:relative;
top:100;
  background-image: url(../images/icons/down.png);
}
.outer{
  z-index:10;
  position:absolute;
  bottom:0;
  justify-content: center;
  width:100%;
  height:30%;
}
.chevron{
   /* position:fixed;  */
   padding-right: 50px;
     align-items: center;
     align-content: center;
     display: block;
     margin-left: auto;
     margin-right: auto;
  width:50px;
  height:10px;

  opacity:0;
  transform:scale3d(0.5,0.5,0.5);
  animation:move 3s ease-out 1s infinite;
}
.chevron:first-child{
  padding-right: 50px;
    align-items: center;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
animation:move 3s ease-out 1s infinite;
}
.chevron:nth-child(2){
  padding-right: 50px;
    align-items: center;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  animation: move 3s ease-out 1s infinite;
}
.chevron:before,
.chevron:after{
  content:'';
  position:absolute;
  top:0;
  height:100%;
  width:51%;
  background:#fff;
}
.chevron::before{
  left:0;
  transform:skew(0deg,30deg);
}
.chevron::after{
  right:0;
  width:50%;
  transform:skew(0deg,-30deg);
}
@keyframes move{
  25%{
    opacity:1;
  }
  33%{
    opacity: 1;
    transform:translateY(30deg);
  }
  67%{
    opacity: 0;
    transform:translateY(40deg);
  }
  100%{
    opacity: 0;
    transform: translateY(55px) scale3d(0.5,0.5,0.5);
  }

}
.text{
  text-align: center;
  display:block;
  margin-top:80px;
  margin-left: -30px;
  font-size: 12px;
  color:#fff;
  text-transform:uppercase;
  white-space: nowrap;
  opacity:.25;
  animation: pulse 2s linear alternate infinite;
}
@@keyframes pulse {
  to{
    opacity: 1;
  }
}
.titleMessage{
position:absolute;
width: 100%;
height: 250px;
top:50%;
z-index:5;
text-align:center;
margin-top:-125px;
}

.titleMessage .heading p{
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
  font-weight:100;
  letter-spacing:7px;
}
.titleMessage .heading .main{
  font-size:50px;

}
.titleMessage .heading .sub{
  font-size:23px;

}
.section{
  padding: 100px 0;
}
.aboutImage{
  max-width: 100%;
}
.skillssection,
.contactsection{
  background-color: #e74c3c;
  color:#fff;
}

.skill{
  text-align: center;
  margin-left: 10px;
}
.chart{
  position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;

    text-align: center;

}
.chart canvas{
  position: absolute;
    left: 0;
    top: 0;
}

.chart .percent{
    color: #000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}
.chart .percent:after{
  content:'%';
}
.edusection{
  align-items: center;
  position:relative;
}
.aboutsty{
  font-family:Times New Roman;


}
.aboutsty h2{
  font-size: 5vw;
  font-weight: bold;
}
.aboutsty p,
.aboutsty li{
  font-size: large;
  line-height: 1.4;
  text-align: justify;
    text-justify: inter-word;
}
.squareItem{
  margin-top:30px;
  position:relative;
  margin-right:10px;
  margin-left:10px;
}
.squareInnerContainer{
  position: relative;
    padding: 50px 10px 35px;
    text-align: center;
  border-top:1px solid #444;

}
.squareInnerContainer:before,
.squareInnerContainer:after{
  content:'';
  position:absolute;
  top:0px;
  width:20px;

}
.squareInnerContainer:before{
  right:0px;
}
.squareInnerContainer:after{
  left:0px;
}
.squareContent h4{
  color: #444;
}
.squareimg{
  position:relative;
  width:90px;
  height:80px;
}
.squareInnerContainer1{
  position: relative;
    padding: 50px 10px 35px;

  border-top:1px solid #fff color #fff;

}
.squareContent1 h4{
  color:#444;
}
.squareContent1 h6{
  color: #fff;
  text-align: left;
}
.work{
  color:#444;
}
.resumesec{
  border-top:1px solid #444;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.contactButton{
color:#fff;
padding:15px 20px;
display:inline-block;
margin-top:20px;
border:1px solid #fff;
border-radius:2px;
}
.contactButton:hover{
  text-decoration:none;
  color:#e74c3c;
  background-color:#fff;
}

.copyright{
  background-color:#444;
  color:#fff;
  padding: 30px 5px;
}

.copyright p{
  margin:0;
  margin-bottom: 0;
}
#navigation {
	background-color: #e74c3c;
    padding: 20px 10px;
    z-index: 100;
    width:100%;

}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
	color: #fff;
}

.navbar-toggler-icon {
	background: url(../images/icons/menu.png);
	background-size: 100%;
}
.fixedNav #navigation {
	position: fixed;
	top: 0;
}
footer {
  background: #e74c3c;
  padding: 10px 0;
  text-align: center;
}
footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  /* border-right: 1px solid #70726F; */
  transition: all .5s ease;
  /* border-top: 1px solid #70726F; */

}
footer a:first-child {


}
footer a:hover {
  color: white;
}
/* .loader{
  width: 100%;
  height: 100px;
  background-color: #fff;
  position: fixed;
  top:0px;
  left:0px;
  z-index:1000;
}
.loader .inner{
  width: 100%;
  height:100%;
  background: url(../images/5.gif) center center no-repeat;
}


.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 500px;
  z-index: 6;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
